[submodule "repo/Kami"]
	path = repo/Kami
	url = https://github.com/tw93/Kami.git
[submodule "repo/weekly-review"]
	path = repo/weekly-review
	url = https://github.com/SiyuanJia/weekly-review.git
[submodule "repo/khazix-skills"]
	path = repo/khazix-skills
	url = https://github.com/KKKKhazix/Khazix-Skills.git
[submodule "repo/WeRead-MCP"]
	path = repo/WeRead-MCP
	url = https://github.com/Stelquis/WeRead-MCP.git
